@import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
@import url('https://fonts.cdnfonts.com/css/poppins');

.banner{
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.banner .slider{
    position: absolute;
    width: 200px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    animation: autoRun 20s linear infinite;
    z-index: 2;
    transition: transform 0.5s ease;
}
.banner .slider:hover{
    animation-play-state: paused;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
    }to{
         transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
     }
}

.banner .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform:
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(550px);
    cursor: pointer;
    transition: all 0.5s ease;
}
.banner .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(1400px, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.banner .content h1{
    font-family: 'ICA Rubrik', sans-serif;
    font-size: 16em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}
.banner .content h1::after{
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}
.banner .content .author{
    font-family: Poppins, sans-serif;
    text-align: right;
    max-width: 200px;
}
.banner .content h2{
    font-size: 3em;
}
.banner .content .model{
    background-image: url(images/MaximilianSchefflerJesus.png);
    width: 100%;
    height: 125vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

/* info section */
.info {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #25283b;
    color: #fff;
    z-index: 3;
    overflow: hidden;
}

.infoImage {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.infoImage img {
    max-width: 100%;
    max-height: 80vh;
    border-radius: 30px;
    object-fit: contain;
    transition: all 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.infotext {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;
}

.infotext .author {
    font-weight: bold;
    letter-spacing: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.infotext .title {
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-family: 'ICA Rubrik', sans-serif;
}

.infotext .topic {
    font-size: 2em;
    color: #f1683a;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.infotext .des {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 40px;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
}

.infotext .buttons {
    display: grid;
    grid-template-columns: repeat(3, 130px);
    grid-template-rows: 40px;
    gap: 20px;
}

.infotext .buttons button {
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.infotext .buttons button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.infotext .buttons .back {
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}

.infotext .buttons .github {
    background-color: #24292e;
    color: #fff;
    border: 1px solid #24292e;
}

.infotext .buttons .github:hover {
    background-color: #1e2226;
}

@media screen and (max-width: 1200px) {
    .info {
        flex-direction: column;
    }

    .infoImage, .infotext {
        width: 100%;
        height: auto;
    }

    .infoImage {
        padding: 20px;
    }

    .infotext {
        padding: 20px;
        align-items: center;
        text-align: center;
    }

    .infotext .title {
        font-size: 3em;
    }
}

@media screen and (max-width: 1023px) {
    .banner .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .banner .slider .item{
        transform:
                rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(300px);
    }
    .banner .content h1{
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }
    .banner .content .author{
        color: #fff;
        padding: 20px;
        text-shadow: 0 10px 20px #000;
        z-index: 2;
        max-width: unset;
        width: 100%;
        text-align: center;
        padding: 0 30px;
    }
}

@media screen and (max-width: 767px) {
    .banner .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .banner .slider .item{
        transform:
                rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
                translateZ(180px);
    }
    .banner .content h1{
        font-size: 5em;
    }

    .infotext .title {
        font-size: 2em;
    }

    .infotext .topic {
        font-size: 1.5em;
    }

    .infotext .buttons {
        grid-template-columns: repeat(2, 120px);
        grid-template-rows: repeat(2, 40px);
        justify-content: center;
    }

    .infotext .buttons .back {
        grid-column: 1 / -1;
    }
}